/* 
    Developer - Adewale
    Developer means of contact - webmasterjdd@gmail.com, +2348148413982
    Project Github Link:
    Documentation Link:
    Styling the commona element acroos all the pages


*/
body {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 248, 248);
}

section{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 3rem;
}

button {
    background-color: red;
    color: white; 
    border: none; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    border-radius: 5px; 
}

button:hover {
    background-color: darkblue;
    transition: background-color 0.3s
}

h3{
    text-transform: capitalize;
    font-size: 30px;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); 
}

a{
    text-decoration: none;
}

/* For WebKit browsers targetting the scrollbar*/
::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: darkblue;
}

::-webkit-scrollbar-thumb {
    background: red; 
}

::-webkit-scrollbar-thumb:hover {
    background: black; 
}


/* Style the header */
header {
    background-color: darkblue; 
    padding: 10px 20px; 
    display: flex; 
    align-items: center; 
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
}

/* Style the navigation menu */
nav ul {
    list-style: none; 
    margin: 0;
    padding: 0; 
    display: flex; 
}

nav ul li {
    margin-left: 20px; 
}

nav ul li a {
    color: #fff; 
    text-decoration: none; 
    padding: 5px 10px; 
}

/* Style the images */
header img {
    width: 100px; 
    margin-right: 50px; 
}


form {
    position: relative; 
}

form input {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 35px;
    font-size: 20px;
    border: none;
    box-shadow: 0 5px 3px black;
    position: relative; 
}

form input:focus {
    outline: none;
}

form button {
    position: absolute; 
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    cursor: pointer;
    border: none;
    border-radius: 0 35px 35px 0; 
    background: red;
    color: white;
    font-size: 10px;
}
/* ==== End of Styling the form */




/* ======== STYLING THE HOME PAGE == */

.news-header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px; 
}

/* Style for news update slider */
.update-and-news-slider {
    flex: 1; 
}

/* Style for news update slider */
.update-and-news-slider {
    flex: 2; 
}

.update-and-news-slider img {
    border-radius: 10px; 
}


/* Style for news category container */


.new-cat {
    flex: 1 0 calc(30.33% - 10px); 
    background-color: white; 
    border-radius: 10px; 
    padding: 10px; 
    text-align: center; 
    margin: 5px 0; 
}

.news-update  {
    width: 100%;
  
    border-radius: 10px; 
    padding: 10px;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
}

.news-update a {
    text-decoration: none;
    color: gray;
    transition: background-color 0.3s; 
}

.news-update a:hover {
    background-color: #ff4d4d; 
    color: white; 
}

/* Style for news headline container */
.news-headline {
    
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
   cursor: pointer;
}


.news-headline:last-child {
    margin-bottom: 0; 
}

.news-headline-container {
    flex: 1; 
    max-height: 600px;
    overflow-y: auto;
}

.news-headline-container h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
}



.news-headline-title h2 {
    margin: 0;
    color: #333;
}



/*==== STYLING THE HOT GIST SECTION ===== */
.gist-section {
    
       
    display: flex;
    justify-content: space-around; 
}

.local-gist, .international-gist {
    width: 45%; 
}

.local-gist p, .international-gist p {
    border-bottom: 1px solid #ccc; 
    padding-bottom: 10px; 
    margin-bottom: 20px; 
    cursor: pointer;
}


/* ==== TEXT VID AND AD SECTION ==== */
.txt-vid-ad-section {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.txt-news, .live-video, .news-ad {
    flex: 1; 
    margin: 0 10px; 
}

.live-video{
    flex: 2;
}

.live-video button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
    margin-bottom: 10px;
}

.live-video video {
    width: 100%;
}

.news-ad img {
    max-width: 100%;
    cursor: pointer;
}


/* ==== THE NEWS CATEGORY SECTION STYLING ====== */

/* Style the container */
.top-topics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

/* Style each category item */
.top-topic-item {
    width: calc(30% - 10px); 
    margin-bottom: 20px; 
    display: flex;
    align-items: center; 
    cursor: pointer;
}

/* Style the image */
.top-topic-item img {
    width: 100px; 
    border-radius: 8px; 
    border: 2px solid white; 
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); 
    margin-right: 8px;
}

/* Style the text container */
.top-topic-desc {
    flex: 1; 
}

/* Style the heading */
.top-topic-desc h4 {
    margin: 0; 
}

/* Style the paragraph */
.top-topic-desc p {
    margin: 5px 0; 
    font-size: 10px;
}

/*=== TOP NEWS CATEGORY STYLE==== */
.top-news-category{
    margin-top: 50px;
    align-items: center;
    text-align: center;
}
.top-news-category form {
    width: 30%;
    margin: 0 auto;
}

.top-news-category input{
    background-color: black;
    color: white;
}



/*** ===== TOP NEWS CATEGORY STYLING */
/* Style for category item container */
.cat-item-container {
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-evenly;
}

/* Style for category item */
.cat-item {
    background-color: rgb(233, 224, 224);     
    padding: 10px; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    width: calc(13% - 10px);
    margin-bottom: 20px; 
    margin-right: 20px; 
    cursor: pointer;
}

/* Style for category icon */
.cat-item i {
    color: red; 
    font-size: 24px;
    margin-bottom: 5px; 
}

/* Style for category text */
.cat-item p {
    margin: 0; 
    color: #333;
    word-wrap: break-word; 
}

/* Adjust margin for the last item in each row */
.cat-item:nth-child(7n) {
    margin-right: 0;
}


/*==== ENTERTAINMENT SECTION === */
.entertainment-news,
.more-news {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    margin-top: 0;
}

.more-news {
    display: flex;
    justify-content: flex-start; 
    padding-top: 0;
    margin-top: 0;
    overflow-x: auto;
    width: calc(100% - 30px); 
    padding-top: 30px;
}

.more-news .more-news-item {
    flex: 0 0 auto; 
    width: calc(33.33% - 20px); 
    margin-right: 20px; 
}

.more-news .more-news-item:last-child {
    margin-right: 0; 
}


.get-entertainment-update,
.music-news {
    flex: 1;
    padding: 20px;
    border-radius: 10px; 
}

.music-news{
    width: 100% !important;
    overflow-y: auto;
    height: 900px;
    border-bottom: 4px solid black;
}

.music-news-item {
    display: flex;
    align-items: center; 
    margin-bottom: 20px; 
}

.music-news-content {
    display: flex;
    align-items: flex-start; 
}

.music-news-content img {
    width: 100px; 
    border-radius: 10px;
    margin-right: 20px;
}

.music-news-desc h4 {
    margin: 0; 
    color: #333; 
}

.music-news-desc p {
    margin: 0; 
    color: #777; 
    font-size: 10px;
}



.get-entertainment-update{
    flex: 3;
}


.featured-news img {
    width: 100%; 
    margin-bottom: 10px; 
    object-fit: cover;
}

.featured-news p {
    color: #333; 
    margin-bottom: 10px; 
    font-weight: bold;
}

.featured-news button {
    background-color: gray;
    color: #fff; 
    border: none; 
    padding: 10px 20px;
    border-radius: 5px; 
    cursor: pointer; 
}

.featured-news button:hover {
    background-color: #cc0000; 
    transition: background-color 0.3s;
}





.entertainment-header{
    background-color: red;
    
}

.entertainment-header p{
    text-transform: uppercase;
    font-size: 26px;
    padding-left: 5rem;
    color: white;
}


/**** ==== RECENT MOVIES CONTAINER =====*/
.recent-movie-container {
    display: flex;
    justify-content: space-around;
    background-image: url('../news/movie3.jpeg');
    background-size: cover; 
    background-repeat: no-repeat;
    margin-top: 90px;
    padding: 30px;
}


.movie-title,
.movie-details {
    flex: 1; 
    padding: 20px; 
    color: #fff;
}


.movie-title{
    padding-left: 7rem;
}


.movie-details p,
.movie-title p {
    margin-bottom: 20px; 
    width: 450px;
}

.movie-details button {
    padding: 15px 30px; 
   
}

.stars {
    color: gold;
    font-size: 24px; 
}


/*=== HANDLING THE MOVIES AND MUSIC DISPLAYS ===*/

.display-movies,
.display-music {
    display: flex;
    overflow-x: auto; 
    padding: 20px 0; 
    margin-top: 50px;
}

.movie-item {
    flex-shrink: 0; 
    text-align: center;
    margin-right: 20px; 
}

.movie-item img {
    width: 150px; 
    height: 200px;
    object-fit: cover;
}

.movie-item p {
    margin-top: 10px; 
}

.display-music{
    background-color: rgb(190, 211, 71);
    flex-direction: row !important;
}

.music-item {
    flex-shrink: 0; 
    display: flex; 
    margin-top: 50px;
    align-items: center; 
    margin-right: 20px; 
}

.music-item img {
    width: 100px; 
    height: auto; 
    border-radius: 50%; 
    margin-right: 10px; 
}

.music-item h5,
.music-item p {
    margin: 0; 
}

.music-item p {
    color: #666; 
}


/*****======= STYLEING THE PRIDE OF NIGERIA SECTION ====*/

.pride-of-nigeria{
    background-color: rgb(208, 236, 208);
    margin-top: 50px;
    text-align: center;
    padding-top: 20px;
}

.pride-of-nigeria h2, .pride-of-nigeria i{   
    letter-spacing: 15px; 
    color: green;   
}


.show-pride-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

#pride-btn{
    color: white;
    background-color: darkgreen;
    padding: 20px;
    width: 600px;
    font-size: 2rem;
    letter-spacing: 20px;
}

#pride-btn:hover{
    background-color: red;
}

.pride-item {
    width: calc(33.33% - 20px); 
    max-width: 500px;
    height: auto;
    margin-bottom: 20px; 
    padding: 10px;
    box-sizing: border-box;
}

.pride-item img {
    width: 100%;
    height: 200px;
}

.pride-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: white;
}

.pride-excerpt {
    background-color: white;
    padding: 10px;
    margin: 0;
    text-align: left;
    font-size: 14px;
    border: 1px solid black;
}

#pride-type {
    background-color: rgb(179, 245, 230);
    padding: 10px;
    margin: 0;
    text-align: left;
    font-size: 14px;
}


/*=== OTHER ESSENTIAL ITEMS CONTAINER ****=====*/
.essential-items-container {
    display: flex;
    justify-content: space-between;
}

.e-title{    
    padding-top: 50px;
}

.essential-item {
    width: calc(20% - 20px); 
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #d4e4b7; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
}

.essential-item p {
    margin: 0;
}

.essential-item p:first-child {
    font-weight: bold;
}


/* ===== SHORT VIDEO DESCRIPTION ==== */

.short-video-container {
    position: relative; /* Ensure proper positioning of video stats */
}

.short-video-header {
    display: flex;
    justify-content: space-between;
}

.short-video-header button {
    width: 200px;
    padding: 0 !important;
    margin: 0 !important;
    padding: 5px 10px; 
}

.short-video-container {
    overflow-x: auto;
    white-space: nowrap; 
    padding: 20px 0;
    margin-top: 20px; 
}


.short-video-item {
    position: relative;
    display: inline-block;
    width: 300px;
    margin: 20px;   
}

.short-video-item video {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button {
    width: 40px;
    height: 40px;
    background-image: url('../news/play-button.png');
    background-size: cover;
    border: none;
    cursor: pointer;
    background-color: white;
}

.play-button:hover {
    background-color: transparent;
}

.video-stats {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; 
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: transparent; 
    z-index: 1; 
}

.video-stats .likes,
.video-stats .views {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 2px 8px; 
    border-radius: 5px; 
}


/*****REMEMBRANCE SECTION */
#remembrance{
    background-color: #CEE9F7;
    margin-top: 40px;
}

#remebrance-cat{
    background-color: #CEE9F7;
}
.remember-me{
    display: flex;
    justify-content: space-between;
}

.remember-me p{
    font-weight: bold;
}


/**** FAMILY TREE SECTION */
.family-tree {
    background-image: url('../images/family-tree.jpg');
    background-size: cover; 
    background-position: center; 
    padding: 50px; 
    text-align: center;
    color: #fff; 
}

.family-tree h4 {
    font-size: 2.7rem; 
    margin-bottom: 20px;
    text-decoration: underline; 
    text-transform: uppercase;
}

.family-tree p {
    font-size: 18px;
    margin-bottom: 20px;
}

.family-tree-button {
    display: flex;
    justify-content: center; 
}

#view-ancestry{
    color: green;
    border: 1px solid green;
    background-color: transparent;
    padding: 20px;
    margin-right: 22px;
    transition: background-color 0.3s ease; 
}

#build-tree-btn{
    color: white;
    padding: 5px 10px;
    background-color: green;
    padding: 20px;
    transition: background-color 0.3s ease; 
}

#view-acestry:hover, #build-tree-btn:hover{
    background-color: darkblue;
    transition: background-color 0.3s;
}


/* REGISTER BIZ ON E-DIRECT SECTION */
.register-biz {
    background: linear-gradient(to right, #FF5733, #FFC300); 
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    padding: 50px; 
}

.register-caption {
    max-width: 50%; 
    color: #fff;
}

.register-caption h3 {
    font-size: 24px; 
    margin-bottom: 20px; 
}

.register-caption p {
    font-size: 18px; 
    margin-bottom: 20px; 
}

.register-caption button {
    padding: 10px 20px; 
    font-size: 16px; 
    background-color: #fff; 
    color: #FF5733; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
}

.register-caption button:hover {
    background-color: darkblue; 
    color: #fff; 
}


/*=== HOTEL SECTION */

.book-hotel-container {
    
    padding: 50px; 
}

.book-hotel-container img{
    object-fit: cover;
}

.featured-hotel-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 20px; 
}

.hotel {
    flex: 2; 
    background-image: url(../images/hotel6.jpeg);
    background-size: cover; 
    padding: 20px; 
    color: #fff;
}

.hotel h6{
    font-size: 1.9rem;
    font-weight: bold;
}



.hotel button {
    padding: 10px 20px;
    font-size: 16px; 
    background-color: #FF5733; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    text-align: end;
    align-items:end ;
}

.hotel button:hover {
    background-color: darkblue; 
}

.about-hotel {
    flex: 1; 
    background-color: #f2f2f2; 
    padding: 20px; 
}

.about-hotel h5{
    color: red;
    font-size: 1.5rem;
}

.about-hotel p {
    border-bottom: 8px solid red;
    padding-bottom: 10px;
}

.hotel-images {
    display: flex;
    justify-content: space-between;
}

.hotel-images img {
    width: 30%; 
    margin-bottom: 20px;
}


/*=== GROUP SECTION STYLING=== */


.group-header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center-align items vertically */
    margin-bottom: 20px; /* Add margin for spacing */
}

.group-header h1 {
    font-size: 24px; /* Adjust font size */
    margin: 0; /* Remove default margin */
}

.group-header button {
    padding: 10px 20px; /* Add padding to the button */
    font-size: 16px; /* Adjust font size */
    background-color: #007bff; /* Set button background color */
    color: #fff; /* Set button text color to white */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Add pointer cursor for better usability */
}

.group-header button:hover {
    background-color: red; /* Change button background color on hover */
}

.group-items-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; /* Hide scrollbar for browsers that support it */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.group-items-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for webkit-based browsers */
}

.group-item {
    flex: 0 0 auto; /* Prevent items from growing to fill container */
    margin-right: 20px; /* Add margin between items */
    background-color: rgb(240, 235, 235); /* Set background color */
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    transition: box-shadow 0.3s ease; /* Add transition effect */
}

.group-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}


.group-image {
    width: 100%; /* Set fixed width for group images */
    height: 100px; /* Set fixed height for group images */
    object-fit: cover; /* Ensure images maintain aspect ratio */
     /* Make images circular */
    /* Add any additional styling for group images if needed */
}

.group-name {
    font-weight: bold; /* Make group name bold */
    margin-top: 10px; /* Add margin above group name */
    text-transform: uppercase;
}

.group-info {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Distribute items evenly along the main axis */
    gap: 10px; /* Add space between items */
}


.group-info p {
    margin: 0; /* Remove default margin */
    font-weight: bold;
}

.group-info p span {
    font-weight: bold; /* Make numbers bold */
    margin-right: 5px; /* Add spacing between numbers and text */
}

.group-item button {
    padding: 8px 15px; /* Add padding to the button */
    font-size: 14px; /* Adjust font size */
    background-color: red; /* Set button background color */
    color: #fff; /* Set button text color to white */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Add pointer cursor for better usability */
    
    
}

.group-item button:hover {
    background-color: darkblue; /* Change button background color on hover */
}


/* Adjust width for responsiveness */
@media (max-width: 768px) {
    .cat-item {
        width: calc(25% - 20px);
    }
}
